In [1]:
%load_ext kedro.extras.extensions.ipython
%reload_kedro

[08/15/22 12:41:33] INFO     Updated path to Kedro project: /Users/jordan/Library/Mobile              ]8;id=569371;file:///Users/jordan/mambaforge/envs/sunspots/lib/python3.10/site-packages/kedro/extras/extensions/ipython.py\ipython.py]8;;\:]8;id=648545;file:///Users/jordan/mambaforge/envs/sunspots/lib/python3.10/site-packages/kedro/extras/extensions/ipython.py#53\53]8;;\
                             Documents/com~apple~CloudDocs/Code/University/Revisions/sunspots

2022-08-15 12:41:42,907 - kedro.extras.extensions.ipython - INFO - Kedro project Sunspots
2022-08-15 12:41:42,909 - kedro.extras.extensions.ipython - INFO - Defined global variable 'context', 'session', 'catalog' and 'pipelines'
2022-08-15 12:41:46,924 - kedro.extras.extensions.ipython - INFO - Registered line magic 'run_viz'
2022-08-15 12:41:46,929 - kedro.extras.extensions.ipython - INFO - No path argument was provided. Using: /Users/jordan/Library/Mobile Documents/com~apple~CloudDocs/Code/University/Revisions/sunspots
2022-08-15 12:41:48,409 - kedro.extras.extensions.ipython - INFO - Kedro project Sunspots
2022-08-15 12:41:48,412 - kedro.extras.extensions.ipython - INFO - Defined global variable 'context', 'session', 'catalog' and 'pipelines'
2022-08-15 12:41:48,479 - kedro.extras.extensions.ipython - INFO - Registered line magic 'run_viz'

In [10]:
feature_table = catalog.load("image_chunk_features")
label_table = catalog.load("image_chunk_labels")

2022-08-15 13:30:23,274 - kedro.io.data_catalog - INFO - Loading data from 'image_chunk_features' (ParquetDataSet)...
2022-08-15 13:30:27,575 - kedro.io.data_catalog - INFO - Loading data from 'image_chunk_labels' (ParquetDataSet)...

In [11]:
feature_table

,key,coord,coord radius,mean,standard deviation,range,fourier mean,fourier standard deviation,fourier range
0,hmi_ic_45s_2011_01_01_00_01_30_tai_continuum,"[0, 0]",45.254834,0.0,0.0,0.0,0.0,0.0,0
1,hmi_ic_45s_2011_01_01_00_01_30_tai_continuum,"[0, 1]",44.553339,0.0,0.0,0.0,0.0,0.0,0
2,hmi_ic_45s_2011_01_01_00_01_30_tai_continuum,"[0, 2]",43.863424,0.0,0.0,0.0,0.0,0.0,0
3,hmi_ic_45s_2011_01_01_00_01_30_tai_continuum,"[0, 3]",43.185646,0.0,0.0,0.0,0.0,0.0,0
4,hmi_ic_45s_2011_01_01_00_01_30_tai_continuum,"[0, 4]",42.520583,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...
245755,hmi_ic_45s_2014_11_15_00_01_30_tai_continuum,"[63, 59]",41.109610,0.0,0.0,0.0,0.0,0.0,0
245756,hmi_ic_45s_2014_11_15_00_01_30_tai_continuum,"[63, 60]",41.773197,0.0,0.0,0.0,0.0,0.0,0
245757,hmi_ic_45s_2014_11_15_00_01_30_tai_continuum,"[63, 61]",42.449971,0.0,0.0,0.0,0.0,0.0,0
245758,hmi_ic_45s_2014_11_15_00_01_30_tai_continuum,"[63, 62]",43.139309,0.0,0.0,0.0,0.0,0.0,0
245759,hmi_ic_45s_2014_11_15_00_01_30_tai_continuum,"[63, 63]",43.840620,0.0,0.0,0.0,0.0,0.0,0

In [23]:
from sklearn.preprocessing import StandardScaler
import numpy as np
import pandas as pd

In [25]:
feature_table.drop(columns=["key", "coord"], inplace=True)
scaled_features = StandardScaler().fit_transform(feature_table.values)
scaled_features = pd.DataFrame(
    scaled_features, index=feature_table.index, columns=feature_table.columns
)
scaled_features

,coord radius,mean,standard deviation,range,fourier mean,fourier standard deviation,fourier range
0,2.276397,-1.406541,-0.771959,-1.190558,-1.730293,-1.716222,1.399045
1,2.199491,-1.406541,-0.771959,-1.190558,-1.730293,-1.716222,1.399045
2,2.123854,-1.406541,-0.771959,-1.190558,-1.730293,-1.716222,1.399045
3,2.049548,-1.406541,-0.771959,-1.190558,-1.730293,-1.716222,1.399045
4,1.976636,-1.406541,-0.771959,-1.190558,-1.730293,-1.716222,1.399045
...,...,...,...,...,...,...,...
245755,1.821949,-1.406541,-0.771959,-1.190558,-1.730293,-1.716222,1.399045
245756,1.894699,-1.406541,-0.771959,-1.190558,-1.730293,-1.716222,1.399045
245757,1.968895,-1.406541,-0.771959,-1.190558,-1.730293,-1.716222,1.399045
245758,2.044468,-1.406541,-0.771959,-1.190558,-1.730293,-1.716222,1.399045
245759,2.121354,-1.406541,-0.771959,-1.190558,-1.730293,-1.716222,1.399045

In [12]:
label_table

,key,coord,label
0,hmi_ic_45s_2011_01_01_00_01_30_tai_continuum,"[0, 0]",0
1,hmi_ic_45s_2011_01_01_00_01_30_tai_continuum,"[0, 1]",0
2,hmi_ic_45s_2011_01_01_00_01_30_tai_continuum,"[0, 2]",0
3,hmi_ic_45s_2011_01_01_00_01_30_tai_continuum,"[0, 3]",0
4,hmi_ic_45s_2011_01_01_00_01_30_tai_continuum,"[0, 4]",0
...,...,...,...
245755,hmi_ic_45s_2014_11_15_00_01_30_tai_continuum,"[63, 59]",0
245756,hmi_ic_45s_2014_11_15_00_01_30_tai_continuum,"[63, 60]",0
245757,hmi_ic_45s_2014_11_15_00_01_30_tai_continuum,"[63, 61]",0
245758,hmi_ic_45s_2014_11_15_00_01_30_tai_continuum,"[63, 62]",0
245759,hmi_ic_45s_2014_11_15_00_01_30_tai_continuum,"[63, 63]",0

In [20]:
cols_to_use = feature_table.columns.difference(label_table.columns)
cols_to_use

Index(['coord radius', 'fourier mean', 'fourier range',
       'fourier standard deviation', 'mean', 'range', 'standard deviation'],
      dtype='object')

In [31]:
pd.merge(label_table, scaled_features, left_index=True, right_index=True)

,key,coord,label,coord radius,mean,standard deviation,range,fourier mean,fourier standard deviation,fourier range
0,hmi_ic_45s_2011_01_01_00_01_30_tai_continuum,"[0, 0]",0,2.276397,-1.406541,-0.771959,-1.190558,-1.730293,-1.716222,1.399045
1,hmi_ic_45s_2011_01_01_00_01_30_tai_continuum,"[0, 1]",0,2.199491,-1.406541,-0.771959,-1.190558,-1.730293,-1.716222,1.399045
2,hmi_ic_45s_2011_01_01_00_01_30_tai_continuum,"[0, 2]",0,2.123854,-1.406541,-0.771959,-1.190558,-1.730293,-1.716222,1.399045
3,hmi_ic_45s_2011_01_01_00_01_30_tai_continuum,"[0, 3]",0,2.049548,-1.406541,-0.771959,-1.190558,-1.730293,-1.716222,1.399045
4,hmi_ic_45s_2011_01_01_00_01_30_tai_continuum,"[0, 4]",0,1.976636,-1.406541,-0.771959,-1.190558,-1.730293,-1.716222,1.399045
...,...,...,...,...,...,...,...,...,...,...
245755,hmi_ic_45s_2014_11_15_00_01_30_tai_continuum,"[63, 59]",0,1.821949,-1.406541,-0.771959,-1.190558,-1.730293,-1.716222,1.399045
245756,hmi_ic_45s_2014_11_15_00_01_30_tai_continuum,"[63, 60]",0,1.894699,-1.406541,-0.771959,-1.190558,-1.730293,-1.716222,1.399045
245757,hmi_ic_45s_2014_11_15_00_01_30_tai_continuum,"[63, 61]",0,1.968895,-1.406541,-0.771959,-1.190558,-1.730293,-1.716222,1.399045
245758,hmi_ic_45s_2014_11_15_00_01_30_tai_continuum,"[63, 62]",0,2.044468,-1.406541,-0.771959,-1.190558,-1.730293,-1.716222,1.399045
245759,hmi_ic_45s_2014_11_15_00_01_30_tai_continuum,"[63, 63]",0,2.121354,-1.406541,-0.771959,-1.190558,-1.730293,-1.716222,1.399045

In [22]:
dfNew = pd.merge(
    label_table,
    feature_table[cols_to_use],
    left_index=True,
    right_index=True,
    how="outer",
)
dfNew

,key,coord,label,coord radius,fourier mean,fourier range,fourier standard deviation,mean,range,standard deviation
0,hmi_ic_45s_2011_01_01_00_01_30_tai_continuum,"[0, 0]",0,45.254834,0.0,0,0.0,0.0,0.0,0.0
1,hmi_ic_45s_2011_01_01_00_01_30_tai_continuum,"[0, 1]",0,44.553339,0.0,0,0.0,0.0,0.0,0.0
2,hmi_ic_45s_2011_01_01_00_01_30_tai_continuum,"[0, 2]",0,43.863424,0.0,0,0.0,0.0,0.0,0.0
3,hmi_ic_45s_2011_01_01_00_01_30_tai_continuum,"[0, 3]",0,43.185646,0.0,0,0.0,0.0,0.0,0.0
4,hmi_ic_45s_2011_01_01_00_01_30_tai_continuum,"[0, 4]",0,42.520583,0.0,0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
245755,hmi_ic_45s_2014_11_15_00_01_30_tai_continuum,"[63, 59]",0,41.109610,0.0,0,0.0,0.0,0.0,0.0
245756,hmi_ic_45s_2014_11_15_00_01_30_tai_continuum,"[63, 60]",0,41.773197,0.0,0,0.0,0.0,0.0,0.0
245757,hmi_ic_45s_2014_11_15_00_01_30_tai_continuum,"[63, 61]",0,42.449971,0.0,0,0.0,0.0,0.0,0.0
245758,hmi_ic_45s_2014_11_15_00_01_30_tai_continuum,"[63, 62]",0,43.139309,0.0,0,0.0,0.0,0.0,0.0
245759,hmi_ic_45s_2014_11_15_00_01_30_tai_continuum,"[63, 63]",0,43.840620,0.0,0,0.0,0.0,0.0,0.0

In [39]:
model = svm.SVC()
type(model)

<class 'sklearn.svm._classes.SVC'>